<section class="bg-content">
  <div class="container-fluid">
    <div class="row game-row" *ngFor='let user of usersScore'>
      <div class="col-sm-2 col-md-2">
        <div class="game-icon">
          <img src="assets/img/theme/icon/kameleon/Ninja.svg">
        </div>
      </div>
      <div class="col-sm-4 col-md-4 caption">
        <div class="h3">{{ user.UserName}}</div>

      </div>
      <h1 class="col-sm-6 col-md-6 caption">
        <div class="h3">{{ user.UserScore}}</div>
        <ai-star [rating]='user.UserRating' (ratingClicked)='onRatingClicked($event)'>
        </ai-star>
      </h1>
    </div>
  </div>

</section>