<section class="bg-content">
<tbody>
    <tr>aaaaaaaaaa</tr>
    <tr>
    <tr *ngFor='let user of usersScore'>                        
                        <td>{{ user._userName }}</td>
                       <!-- <td>{{ user.UserScore | lowercase  }}</td> -->
                          <td>
                            <ai-star [rating]='user.UserRating'
                            (ratingClicked)='onRatingClicked($event)'>                                    
                            </ai-star>
                       </td>                       
                      
                    </tr>

</tbody>
</section> 
