<section class="bg-content">
  <div class="container-fluid">


    <!--<div *ngFor="let game of userGames|take:4" class="col-sm-6 col-md-4">-->
    <div class="row game-row" *ngFor="let game of userGames">
      <div class="col-sm-2 col-md-2">
        <div class="game-icon">
          <img *ngIf="game.level == 2" src="assets/img/theme/icon/kameleon/Ninja.svg">
          <img *ngIf="game.level == 1" src="assets/img/theme/icon/kameleon/Burglar.svg">
          <img *ngIf="game.level == 0" src="assets/img/theme/icon/kameleon/Surfer.svg">
        </div>
      </div>
      <div class="col-sm-10 col-md-10 caption">
        <div class="h3">{{game._name}}</div>
        <div class="h6">Some Descriptions..</div>
        <div class="game-actions">
          <a [routerLink]="['../play', game._id]" role="button">Play</a>
          <a [routerLink]="['../edit', game._id]" role="button">Edit</a>
          <a [routerLink]="['../share', game._id]" role="button">Share</a>
        </div>
      </div>

    </div>
    <div *ngIf="!userGames || userGames.length == 0" class="col-sm-6 col-md-4">
      No Games Found
    </div>
  </div>
</section>
